
import=%~d0%~p0.DEVEL\jsxt\js\*.js
import=%~d0%~p0.DEVEL\jsxt\js\win32\*.js
import=%~d0%~p0.DEVEL\jsxt\js\web\Entity.js
import=%~d0%~p0.DEVEL\jsxt\vbs\win32\*.vbs

execute=.\$$$%~n0_$UID.wsf

command=%windir%\system32\cscript.exe //nologo

xml-encoding=utf-8
enable-error=false
enable-debug=false
