; This page shows how to control a content and behavior of the resulting 
; script using configuration files. You can do this using by one of three 
; ways. All options described below are common for all of them. 
;
; 1.  Create the "wscmd.ini" file in the same directory where "wscmd.bat" is 
;     located. This file is common and it will be used in all other cases. 
;     That means that it will affect on all scripts always if other ways 
;     are not used. 
;
; 2.  Create the "wscmd.ini" file in the current directory where some script 
;     will be launched. This file will affect on all files launched from the 
;     current directory only. 
;
; 3.  Create the "SCRIPT.ini" file nearby the SCRIPT file (where SCRIPT stands 
;     for both the name and the extension of the current file). This file will 
;     affect on the SCRIPT file only. 
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


; This option specifies a path to librarian files that will be linked to
; the resulting script. Placeholders "*" or "?" are available to specify
; a group of files. Environment variables are enabled. In addition, you
; can use the following modifiers to refer to librarian files relatively
; the location of "wscmd.bat". Other modifiers are available but useless.
;
; %~d0 - means a drive letter
; %~p0 - means a path only
;
; There is special value "import=no" that suppresses inclusion of files.
; Just write out it directly in a custom configurational file to suppress
; inclusion of files.
import=%~d0%~p0.DEVEL\jsxt\js\*.js
import=%~d0%~p0.DEVEL\jsxt\js\win32\*.js
import=%~d0%~p0.DEVEL\jsxt\vbs\win32\*.vbs


; This option defines a name of the resulting file. If it is not specially
; specified, the default value will be used. There are two placeholders
; $TIME, the current time, and $UID, the unique number generated by
; the program, to make the resulting filename unique.
execute=.\$$$%~n0_$UID.wsf


; This option specifies a binary executable file that will be invoked to
; launch a script.
command=%windir%\system32\cscript.exe //nologo


; A string that describes the character set encoding used by the resulting
; XML document. The string may include any of the character sets supported
; by Microsoft Internet Explorer. The default value is utf-8.
xml-encoding=utf-8


; A Boolean value. False is the default value. Set to true to allow error
; messages for syntax or run-time errors in the resulting.wsf file.
enable-error=false


; A Boolean value. False is the default value. Set to true to enable
; debugging. If debugging is not enabled, you will be unable to launch
; the script debugger for a Windows Script file.
enable-debug=false

