
#loading	{
	background-color: #ccc;
	background-image: url(loading.gif);
	background-repeat: no-repeat;
	border: 1px solid #000;
	color: #000;
	display: none;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 55px;
	right: 0;
	padding: 0;
	padding-left: 55px;
	position: absolute;
	top: 0;
}

#content	{
	border-top: 2px outset #000;
	margin: 20px;
	padding: 20px;
}
